hr{
  
    border-style:none;
   
    border-top-style: dotted;
    border-color:grey;
    border-width:5px;
    width: 5%;
    height: 0px;
    background-color:#eaf6f6;
  }
  h1{
      color: #66bfbf;
  }
    body{
      background-color: #eaf6f6;
    }
    img{
      height: 180px;
    }
    input{
        background-color: #eaf6f6;

    }
    .checkbox::before{
        background-color:green;
        }
button{
  border-width:2px;
    width: 175;
    height: 18px;
    background-color: #eaf6f6;

}
   
    